<h1><%= @post.title %></h1>

<p><%= @post.body %></p>
<hr><br><br>
<h2>Comments:</h2>
<% if !@comments.empty? %>
  <ul>
    <% @comments.each do |comment| %>
      <li><span><form action="/votes/<%= comment.id %>" method="post"><input type= 'hidden' name=  'type' value='Comment'><button><%= comment.votes.count %> votes </button></form></span></li>
      <%= comment.body %></p>
    <% end %>
  </ul>
<% else %>
<h3>No comments yet(Be the first to post one!)</h3>
<% end %><br><br>
<hr>
<br><br>
<%= erb :'/partials/_errors', layout: false, locals: {errors: @errors} %>
<form action="/comment/new/<%=@post.id%>" method="POST" >
  <textarea rows="4" cols="50" placeholder="Enter a Comment" name='body'></textarea><br>
  <button action="submit">Submit</button>
</form>
